/*-----------------------------------*
 *Estilos del formulario
 *-----------------------------------*/

form .form-group,
form .submit-group
{
    display: flex;
    flex-flow: row;
    margin: 20px 0;
}

form .submit-group
{
    margin-bottom: 0;
}

form .form-group .label__container__form,
form .submit-group .space-divider
{
    width: 20%;
}

form .form-group .input__container__form,
form .submit-group .input__container__button
{
    width: 80%;
}

form .form-group.one-input .input__container__form input,
form .form-group.one-input .input__container__form textarea
{
    width: 100%;
}

form .form-group.two-inputs .input__container__form
{
    display: flex;
    flex-flow: row;
}

form .form-group.two-inputs .input__container__form input:first-child
{
    width: 100%;
    margin-right:10px;
}

form .form-group.two-inputs .input__container__form input:nth-child(2)
{
    width: 100%;
    margin-left:10px;
}

form .form-group .label__container__form label{
    font-weight: 500;
}

form .form-group input[type="text"],
form .form-group input[type="email"],
form .form-group textarea
{
    border: none;
    background-color: rgb(255 227 232);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    box-shadow: 0 5px 0 rgba(255 190 201 / 70%);
    outline: none;
    color: #414141;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form .form-group input[type="text"]::placeholder
{
    font-size: .8rem;
    color: #a0a0a0;
}

form .form-group textarea
{
    resize: none;
    height: 90px;
}

form .submit-group input[type="submit"]
{
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: var(--primary--color);
    color: #fff;
    box-shadow: 0 5px 0 rgba(255 190 201 / 70%);
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
}

form .submit-group input[type="submit"]:hover
{
    background-color: #f23558cc;
}

@media screen and (max-width: 500px)
{
    form .form-group
    {
        flex-flow: column;
    }

    form .submit-group .space-divider
    {
        display: none;
    }

    form .form-group .label__container__form,
    form .form-group .input__container__form,
    form .submit-group .input__container__button
    {
        width: 100%;
    }

    form .form-group .label__container__form
    {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 300px)
{
    form .form-group.two-inputs .input__container__form
    {
        flex-flow: column;
    }

    form .form-group.two-inputs .input__container__form input
    {
        margin: 10px 0 !important;
    }
}