/*Colores Globales*/

:root
{
	--primary--color: #F23557;
	--secondary--color: #F0D43A;
	--thrid--color: #3B4A6B;
}

/*
 *Estilos globales
 */

 html
 {
	box-sizing: border-box;
 }

 *,
 *::before,
 *::after
 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }

 body
 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

/*
 *Estilos de la cabecera
 */

 #header
 {
	height: 100vh;
	width: 100%;
 }

 .header-hero
 {
	 background: url('../img/chica-con-lentes.jpg');
	 height: inherit;
	 width: inherit;
	 background-size: cover;
	 background-position: center;
 }

 .black-transparent-background
 {
	position: absolute;
	height: inherit;
	width: inherit;
	background-color: rgba(0, 0, 0, .4);
 }

 .container-logo-menu
 {
	margin: 0 6em;
	margin-top: 4em;

	display: grid;
	grid-template-columns: 25% 75%;
	align-items: center;
 }

 .menu-list-link
 {
	list-style: none;
	font-size: 1.2rem;

	display: flex;
	justify-content: space-evenly;
 }

 .menu-list-link li > a
 {
	text-decoration: none;
 }