/*Colores Globales*/

:root
{
	--primary--color: #F23557;
	--secondary--color: #F0D43A;
	--thrid--color: #3B4A6B;
}

/*
 *Estilos globales
 */

 html
 {
	box-sizing: border-box;
 }

 *,
 *::before,
 *::after
 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }

 body
 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 div.container
 {
	padding: 1.5rem 3rem;
	max-width: 1200px;
	margin: auto;
 }

 @media screen and (max-width: 850px )
 {
	div.container
	{
		padding: 1.5rem 1.5rem;
	}
 }

 a
 {
	text-decoration: none;
 }

/*
 *Estilos de la cabecera
 */

 header#header
 {
	height: 700px;
	width: 100%;
 }

 @media screen and (max-width: 450px)
 {
	header#header
	{
		height: 550px;
	}
 }

 .header-hero
 {
	background: url('../img/chica-con-lentes.jpg');
	height: inherit;
	width: inherit;
	background-size: cover;
	background-position: top;
 }

 .header-hero__transparent__background
 {
	position: absolute;
	height: inherit;
	width: inherit;
	background-color: rgba(59, 74, 107, 0.70);
 }

 .header-hero__menu-logo__container
 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
 }

 .header-hero__menu-logo__container .header-hero__logo a
 {
	display: flex;
	align-items: center;
	color: var(--secondary--color);
	font-weight: bold;
 }

 .header-hero__menu-logo__container .header-hero__logo a > img
 {
	width: 80px;
 }

 .header-hero__menu-logo__container .header-hero__logo a > h1
 {
	font-size: 3rem;
	margin-left: 1rem;
 }

 .header-hero__menu-logo__container nav.header-hero__menu > ul
 {
	list-style: none;
	font-size: 1.5rem;
	display: flex;
 }

 .header-hero__menu-logo__container nav.header-hero__menu > ul > li
 {
	 margin-left: 1.5rem;
 }

 .header-hero__menu-logo__container nav.header-hero__menu > ul > li > a
 {
	color: #fff;
	font-weight: 500;
	transition: color 0.3s linear;
 }

 .header-hero__menu-logo__container nav.header-hero__menu > ul > li > a.active,
 .header-hero__menu-logo__container nav.header-hero__menu > ul > li > a:hover
 {
	color: var(--secondary--color) ;
 }

 .header-hero__menu__mobile
 {
	display: none;
 }

 .hamburger-icon__container
 {
	cursor: pointer;
	height: 40px;
    display: flex;
    align-items: center;
 }

 .hamburger-icon
 {
	display: block;
	width: 40px;
	height: 5px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
 }

 .hamburger-icon::before,
 .hamburger-icon::after
 {
	content: '';
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
	transition: 0.5s;
 }

 .hamburger-icon::before
 {
	top: -15px;
 }

 .hamburger-icon::after
 {
	top: 15px;
 }

 .hamburger-icon.actived__hamburguer
 {
	background: rgba(0, 0, 0, 0);
 }

 .hamburger-icon.actived__hamburguer::before
 {
	top: 0;
	transform: rotate(45deg);
 }

 .hamburger-icon.actived__hamburguer::after
 {
	top: 0;
	transform: rotate(-45deg);
 }

 @media screen and (max-width: 850px )
 {
	nav.header-hero__menu
	{
		max-height: 0;
		overflow: hidden;
		width: 100%;
		position: absolute;
		top: 120px;
		left: 0;
		background-color: rgba(0, 0, 0, 0.35);
		transition: max-height 0.2s;
	}

	nav.header-hero__menu ul
	{
		display: flex;
		flex-flow: column;
		padding: 0.5rem 2rem;
	}

	nav.header-hero__menu ul > li
	{
		margin: 0.8rem 0;
	}

	.header-hero__menu__mobile
	{
		display: block;
	}
 }

 /*
  * Estilos del buscador
  */

  :root
  {
	--search--container-height: 50px;
	--font-size-search: 1.125rem;
  }

 .header-hero .header-hero__search
 {
	margin-top: 300px;
	display: flex;
	justify-content: center;
 }

 .header-hero .header-hero__search form.search-form
 {
	background-color: #fff;
	display: block;
	border-radius: 2px;
	position: relative;
	font-size: var(--font-size-search);
 }

 .header-hero .header-hero__search form.search-form .form-content
 {
	display: flex;
	justify-content: center;
	flex-flow: row;
	height: var(--search--container-height);
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container
 {
	position: relative;	
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container::before
 {
	content: '';
	width: 1px;
	height: 60%;
	background-color: #cfd9e0;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container span.category
 {
	position: relative;
	display: block;
	width: 150px;
	padding: 0 .8rem;
	line-height: var(--search--container-height);
	cursor: pointer;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container span.category::after
 {
	content: '';
	position: absolute;
	top: 50%;
	right: 10%;
	border-left: 4px solid rgba(0,0,0,0);
    border-right: 4px solid rgba(0,0,0,0);
    border-top: 4px solid var(--thrid--color);
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick
 {
	background-color: #fff;
	padding: 0.3rem 0.5rem;
	display: none;
	position: absolute;
	width:  150px;
	margin-top: 10px;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container.actived .category-pick
 {
	display: block;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick::before
 {
	content: '';
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #fff;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	margin: -4px 0 0;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick .radio-container
 {
	display: flex;
	flex-flow: row;
	width: 100%;
	font-size: 1rem;
	margin: .5rem 0;
	cursor: pointer;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick .radio-container .radio__indicator
 {
	display: inline-block;
	background-color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #cfd9e0;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick .radio-container.checked
 .radio__indicator
 {
	box-shadow: inset 0 0 0 5px #0c75f7;
 }

 .header-hero .header-hero__search form.search-form .form-content .category-container .category-pick .radio-container .radio__link
 {
	margin-left: .5rem;
 }

 .header-hero .header-hero__search form.search-form .form-content input.s_product
 {
	position: relative;
	font-size: var(--font-size-search);
	display: block;
	border: none;
	outline: none;
	padding: 0.5rem;
	width: 400px;
	color: #414141;
 }

 .header-hero .header-hero__search form.search-form .form-content button.btn.btn-search
 {
	position: relative;
	display: block;
	font-size: var(--font-size-search);
	background: transparent;
	outline: none;
	border: none;
	border-left: 1px solid #cfd9e0;
	cursor: pointer;
	min-height: var(--search--container-height);
	border-radius: 0;
	padding: 0 1rem;
	transition: background-color .2s ease-out;
 }

 .header-hero .header-hero__search form.search-form .form-content button.btn.btn-search:hover,
 .header-hero .header-hero__search form.search-form .form-content button.btn.btn-search:focus
 {
	background-color: #0c75f7;
	color: #fff;
 }

 @media screen and (max-width: 650px)
 {
	form.search-form .form-content .category-container
	{
		display: none;
	}

	.header-hero .header-hero__search form.search-form .form-content input.s_product
	{
		width: auto;
	}
 }

/*
 *Estilos del contenido principal
 */

 main#main
 {
	padding: 1rem 0;
	background: linear-gradient(#ffffff 0%,#EBEBEB 100%);
 }

 .title__products h2
 {
	color: var(--primary--color);
	text-align: center;
	font-size: 2.75rem;
 }

 @media screen and (max-width: 455px)
 {
	.title__products h2
	{
		font-size: 2rem;
	}
 }

 .categories-products button.btn.btn__category
 {
	background-color: rgba(242, 53, 88, 0.65);
	color: #fff;
	border: none;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.6rem 0;
	width: 170px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.2s linear;
 }

 .categories-products button.btn.btn__category.checked,
 .categories-products button.btn.btn__category:hover,
 .categories-products button.btn.btn__category:focus
 {
	background-color: #F23557;
 }

 .categories-products__mobile
 {
	display: none;
	width: 450px;
 }

 .categories-products__mobile span.category__selected
 {
	background-color:var(--primary--color);
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.6rem 0;
	padding-left: 1rem;
	display: block;
	position: relative;
	width: 170px;
	text-transform: uppercase;
	cursor: pointer;
 }

 .categories-products__mobile span.category__selected::after
 {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10%;
	border-left: 4px solid rgba(0,0,0,0);
    border-right: 4px solid rgba(0,0,0,0);
    border-top: 4px solid #fff;
 }

 .categories-products__mobile .all__btn__categories
 {
	z-index: 2;
	display: flex;
	position: absolute;
	flex-flow: column;
	align-items: flex-start;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s;
	background-color: #fff;
 }

 .categories-products__mobile .all__btn__categories button.btn.btn__category
 {
	border-radius: 0;
	text-align: start;
	padding-left: 1rem;
	border-bottom: 1px solid var(--primary--color);
 }

 @media screen and (max-width: 750px)
 {
	.categories-products
	{
		display: none;
	}
	.categories-products__mobile
	{
		display: block;
	}
 }

 .products__container
 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 20px;
	grid-row-gap: 20px;
 }

 /*
  *Estilos del producto
  */

 .product_container.product
 {
	background-color: #fff;
	padding: 1rem;
	display: flex;
	flex-flow: column;
	border-radius: 10px;
	border: 1px solid #E8E8E8;
 }

 .product_container.product > div
 {
	margin: .5rem 0;
 }

 .product_container.product .product__content
 {
	display: flex;
	flex-flow: column;
 }

 .product_container .product__content .product__image
 {
	position: relative;
 }

 .product_container .product__content .product__image img
 {
	position: relative;
	display: block;
	margin: auto;
	width: 80%;
 }

 .product_container .product__content .product__description
 {
	display: flex;
	flex-flow: column;
 }

 .product_container .product__content .product__description .product__brand
 {
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
	margin: 0.5rem 0;
 }

 .product_container .product__content .product__description .product__title
 {
	color: var(--primary--color);
	text-align: center;
	font-weight: 600;
	font-size: 1.75rem;
	margin: 0.5rem 0;
 }

 .product_container .product__content .product__description .product__price
 {
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	color: #333;
	margin: 0.5rem 0;
 }

 .product_container .product__options
 {
	display: flex;
	align-items: center;
	justify-content: space-between;
 }

 .product_container .product__options .product__add
 {
	display: flex;
 }

 .product_container .product__options .product__add .minus
 {
	position: relative;
	border: 1px solid var(--primary--color);
	width: 40px;
	height: 35px;
	cursor: pointer;
	opacity: 0.4;
 }
 .product_container .product__options .product__add .minus::after
 {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #F23557;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
 }

 .product_container .product__options .product__add .plus
 {
	position: relative;
	border: 1px solid var(--primary--color);
	width: 40px;
	height: 35px;
	cursor: pointer;
	margin-left: -1px;
	z-index: 2;
 }

 .product_container .product__options .product__add .plus::before
 {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	height: 20px;
	background-color: #F23557;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
 }

 .product_container .product__options .product__add .plus::after
 {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #F23557;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
 }

 .product_container .product__options .product__add .plus:hover
 {
	background-color: var(--primary--color);
 }

 .product_container .product__options .product__add .plus:hover::after,
 .product_container .product__options .product__add .plus:hover::before
 {
	background-color: #fff;
 }

 .product_container .product__options .btn.btn__purchase
 {
	background-color: var(--primary--color);
	color: #fff;
	border: none;
	outline: none;
	font-size: 1rem;
	padding: 0.7rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s linear;
 }

 .product_container .product__options .btn.btn__purchase:hover,
 .product_container .product__options .btn.btn__purchase:focus
 {
	background-color: rgba(242, 53, 88, 0.8);
 }

 @media screen and (max-width: 750px)
 {
	.product__content
	{
		flex-flow: row !important;
	}

	.product_container .product__content .product__image,
	.product_container .product__content .product__description
	{
		display: block;
		width: 50%;
	}

	.product_container .product__content .product__description
	{
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	.product_container .product__content .product__description .product__brand,
	.product_container .product__content .product__description .product__title,
	.product_container .product__content .product__description .product__price
	{
		display: block;
		width: 100%;
	}
 }

 /*
  *Estilos de la paginación
  */

 .pagination
 {
	display: flex;
	align-items: center;
	flex-flow: row;
	font-size: 1rem;
 }

 .pagination .p__item
 {
	margin-left: 0.5rem;
	cursor: pointer;
 }

 .pagination .p__item
 {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s ease-out;
 }

 .pagination .p__item.actived,
 .pagination .p__item:hover
 {
	background-color: var(--primary--color);
	color: #fff;
 }

 @media screen and (max-width: 750px)
 {
	.pagination
	{
		justify-content: center;
	}
 }

/*
 *Estilos del footer
 */

 footer#footer
 {
	width: 100%;
	height: 300px;
 }

 .footer-banner
 {
	background: url('../img/banner-clip.jpg');
	height: inherit;
	width: inherit;
	background-size: cover;
	background-position: bottom;
 }

 .footer-banner .footer-banner__transparent__background
 {
	position: absolute;
	height: inherit;
	width: inherit;
	background-color: rgba(0, 0, 0, 0.8);
 }

 .footer-banner .footer-content
 {
	height: inherit;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
 }

 .footer-banner .footer-content .footer__section__1
 {
	height: 65%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
 }

 .footer-banner .footer-content .footer__section__1 .footer__logo a
 {
	display: flex;
	align-items: center;
	color: var(--secondary--color);
	font-weight: bold;
 }

 .footer-banner .footer-content .footer__section__1 .footer__logo a > img
 {
	width: 80px;
 }

 .footer-banner .footer-content .footer__section__1 .footer__logo a > h1
 {
	font-size: 3rem;
	margin-left: 1rem;
 }

 .footer-banner .footer-content .footer__section__1 .footer__description
 {
	max-width: 400px;	
 }

 .footer-banner .footer-content .footer__section__1 .footer__description > p
 {
	color: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: justify;
 }

 .footer-banner .footer-content .footer__divider
 {
	height: 5%;
	border: none;
	border-bottom: 2px solid #fff;
 }

 .footer-banner .footer-content .footer__section__2
 {
	height: 30%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	color: #fff;
	font-size: 1rem;
	padding: 1rem 0;
 }

 .footer-banner .footer-content .footer__section__2 span > i
 {
	margin-right: 1rem;
 }

 .footer-banner .footer-content .footer__section__2 span > a
 {
	color: #fff;
 }

 .footer-banner .footer-content .footer__section__2 span > a:hover
 {
	 text-decoration: underline;
 }

 @media screen and (max-width: 750px)
 {
	footer#footer
	{
	   height: 450px;
	}

	.footer-banner .footer-content .footer__section__1
	{
		flex-flow: column;
		justify-content: center;
	}

	.footer-banner .footer-content .footer__section__1 > div
	{
		margin: 0.5rem 0;
	}

	.footer-banner .footer-content .footer__section__1 .footer__description > p
	{
		text-align: center;
	}

	.footer-banner .footer-content .footer__section__2
	{
		flex-flow: column-reverse;
		align-items: center;
	}
 }